@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	
	font-family: 'Courgette', sans-serif;
	text-align: center;
	background: url(../images/cream_pixels.png);
}

*, *:before, *:after {
	box-sizing: inherit;
}

.img-flex {
	display: block;
	width: 15rem;
	margin: auto;
	padding-top: 1.5rem;
}

h1 {
	font-size: 4rem;
	color: #FC7F80;
	padding-top: 7rem;
	margin: 0;
}

h2 {
	padding: 3rem;
	margin: 0;	
}

a, a:visited, a:hover, a:focus, a:active {
	text-decoration: none;
	color: #000;
}

.btn, .btn:visited {
	background-color: #AEE3DE;
	border-radius: 7px;
	padding: 1rem;
	margin: .4rem;
	font-size: 3rem;
	text-decoration: none;
	color: #138B98;
	display: inline-block;
}

.btn:hover {
	background-color: #107B88;
	color: #C3ECEB;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.btn:active {
	background-color: #063244;
}

.ease-all {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

@media only screen and (max-width: 29.9em) {
	
	html {
		font-size: 90%;
	}
 
}

@media only screen and (max-width: 26.9em) {
	
	html {
		font-size: 85%;
	}
 
}

@media only screen and (max-width: 25.9em) {
	
	html {
		font-size: 80%;
	}
 
}

@media only screen and (max-width: 23.4em) {
	
	html {
		font-size: 75%;
	}
		
	h1 {
		font-size: 3.6rem;
	}
 
}